@charset "utf-8";
html{
    height: 100%;
}
html *{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37,35,35);
    background-color: rgb(236, 236, 248);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.nav_wrap{
    margin: auto;
    width: 90%;
    padding: 12px;
    padding-left: 5vw;
}

.nav_menu{
    width: 38%;
}

.links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 40px;
}

.link_item{
    font-size: 20px;
    text-wrap-mode: nowrap;
}

a{
    color: rgb(104, 104, 104);
    transition: 0.4s;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: rgb(35,33,33);
}


#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 75%;
}

.sidebar_sticky{
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    max-width: 900px;
    padding:10px;
    
}

.author_avatar{
    border-radius: 50%;
    height: 100%;
    max-width: 100%;

}

.author_avatar_wrapper{
    width:100%;
    max-width: 100%;
    flex-basis:auto;
    aspect-ratio: 1;
}

.author_content{
    padding-left: 14px;
    resize: both;
}

.name{
    font-size: 22px;
    margin-bottom: 5px;
}

.bio{
    font-size: 13px;
    margin-top: 5px;
}

.author_urls{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 21px;
    list-style-type: none;
    font-size: 13px;
    letter-spacing: 0.1px;
    padding: 10px;
    margin: auto;
}



.page{
    padding:25px;
    padding-top: 40px;
    flex-basis: 250%;
}

.page_title{
    margin-bottom: 35px;
}

.page_content{
    font-size: 18px;
}


/* Projects List Styling */
.project_archive{
    padding: 25px;
}

.project_contents{
    display: flex;
}
.project_image_wrapper{
    flex-basis: 100%;
    margin: auto;
    padding: 20px;
}
.project_image{
    width: 100%;
    max-width: 30vw;
    min-width: 100px;
    border-radius: 5%;
}

.contributors{
    color: rgb(104, 104, 104);
}

.project_item_title{
    margin-top: 50px;
}

.project_descriptor{
    font-size: 18px;
}

/* other */
.other_wrapper{
    width: 95%;
    height: 95%;
    padding: 10px;
    margin: auto;
}

.other_notes{
    font-size: 15px;
    color:rgb(111, 111, 111);
    text-align: center;
}

.other_img{
    width: 100%;
    height: auto;
}

.other_grid{
    width: 100%;
    display: grid;
}
.grid_item{
    padding:3px;
}
.grid_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#DogGrid{
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}
#Dog1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
#Dog2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
#Dog3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#DiceGrid{
    grid-template-rows: 100%;
    grid-template-columns: 65% 35%;
}
#Dice1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
#Dice2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#lego_wrapper{
    width:50%;
}

/* footer */
.page_footer{
    width: 100%;
    text-align: center;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(186, 186, 186);
    margin-top: auto;
}
.copyright{
    color: rgb(111, 111, 111);
    font-size: 13px;
    padding: 18px;
}


/* queries */
@media(max-width: 700px){
    #main{
        flex-direction: column;
    }
    .sidebar_sticky{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .project_contents{
        flex-direction: column;
    }
    .author_urls{
        display:none;
    }
    .author_avatar_wrapper{
        max-width: 20vw;
        max-height: 20vw;
        margin: auto;
    }
}
@media (pointer:none), (pointer:coarse) {
    #main{
        flex-direction: column;
    }
    .sidebar_sticky{
        flex-direction: row;
        justify-content: center;
    }
    .project_contents{
        flex-direction: column;
    }
    .author_urls{
        display:none;
    }
    .author_avatar_wrapper{
        max-width: 17vw;
        max-height: 17vw;
        margin: auto;
    }
}