@charset "utf-8";
html *{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35,33,33);
    background-color: rgb(238, 238, 240);
}

.nav_wrap{
    margin: auto;
    width: 90%;
    padding: 12px;
    padding-left: 5vw;
}

.nav_menu{
    width: 38%;
}

.links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 40px;
}

.link_item{
    font-size: 20px;
    text-wrap-mode: nowrap;
}

a{
    color: rgb(104, 104, 104);
    transition: 0.4s;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: rgb(35,33,33);
}


#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 70%;
}

.sidebar_sticky{
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    max-width: 900px;
    padding:10px;
}

.author_avatar{
    border-radius: 50%;
    height: 100%;
    max-width: 100%;

}

.author_avatar_wrapper{
    width:100%;
    max-width: 100%;
    flex-basis:auto;
    aspect-ratio: 1;
}

.author_content{
    padding-left: 14px;
}

.name{
    font-size: 22px;
    margin-bottom: 5px;
}

.bio{
    font-size: 13px;
    margin-top: 5px;
}

.author_urls{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 21px;
    list-style-type: none;
    font-size: 13px;
    letter-spacing: 0.1px;
    padding: 10px;
    margin: auto;
}



.page{
    padding:25px;
    padding-top: 40px;
}

.page_title{
    margin-bottom: 35px;
}


/* Projects List Styling */
.project_archive{
    padding: 25px;
}

.project_contents{
    display: flex;
}
.project_image_wrapper{
    flex-basis: 100%;
    margin: auto;
    padding: 20px;
}
.project_image{
    width: 100%;
    min-width: 100px;
    border-radius: 5%;
}

.contributors{
    color: rgb(104, 104, 104);
}


/* queries */
@media(max-width: 700px){
    #main{
        flex-direction: column;
    }
    .sidebar_sticky{
        flex-direction: row;
    }
    .project_contents{
        flex-direction: column;
    }
}